* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/z.jpg");
}
main {
    width: 1222px;
    height: 1100px;
    background: #d8e5eb;
    border: 5px solid #0a0a0a6d;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    font-size: 23px;
}

section {
    padding: 30px;
}

.logo img {
    width: 450px;
    border-radius: 10px;
}

.logo {
    float: left;
}

header {
    padding: 20px;
}


.h1{
    background: rgb(127, 255, 212);
    border: 5px solid rgb(126, 218, 187);
    width: 1222px;
    margin: 0 auto;
    border-radius: 20px ;
}
h1{
    display: inline;
    float: center;
    margin: 500px;
    font-size: 60px;
}
.nav1 {
    display: inline;
    float: right;
    width:45%;
    margin: 70px;
    
}

nav ul li a{
    text-decoration: none;
    background-color: #55c5b6;
    border: 2px solid #adf7ea63;
    color: aliceblue;
    padding: 8px;
    border-radius: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a:hover {
    color: #beb17ee2;
    background-color: beige;
}

.veteIMG {
    width: 280px;
    float: right;
    border-radius: 22px;
    padding: 15px;
}

.texto {
    float: left;
    width: 60%;
    margin-top: 30px;
}
.clear {
    clear: both;
}